{% extends 'base.html.twig' %}

{% block title %}Liste Campus{% endblock %}

{% block body %}
<div class="container"><h1 style="color: #FFFFFF; padding-top: 2rem; padding-bottom: 5rem">Campus</h1>
    <div class="row">
        <div class="card text-center w-100 align-middle">
            <div class="card-body">
    <h1>Liste de campus</h1>
    {{ include('campus/filterCampus.html.twig', {'button_label': 'Rechercher'}) }}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>
                    <a class="text-success" href="{{ path('app_campus_show', {'id': campus.id}) }}">Détail</a>
                    <a class="text-primary" href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de campus trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_campus_new') }}">Creer un nouveau campus</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
