{% extends 'base.html.twig' %}

{% block title %}{{ userDate.nom }}{% endblock %}

{% block body %}
    <tbody>
    <h1> Profil de {{ userDate.nom }}</h1>
    <p>Pseudo : {{ userDate.date_heure_debut }}</p>
    <p>Nom : {{ userDate.duree }}</p>
    <p>Description : {{ userDate.info_sortie }}</p>
    <p>Etat : {{ userDate.etat }}</p>
    </tbody>
    </table>
{% endblock %}
