{% extends 'base.html.twig' %}

{% block title %}{{ liste.nom }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <tbody>
                    <h1> Profil de {{ liste.nom }}</h1>
                    <p>Pseudo : {{ liste.date_heure_debut }}</p>
                    <p>Nom : {{ liste.duree }}</p>
                    <p>Description : {{ liste.info_sortie }}</p>
                    <p>Etat : {{ liste.etat }}</p>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
