{% extends 'base.html.twig' %}

{% block title %}Filter les sorties!{% endblock %}

{% block body %}
    <h1 style="color: #FFFFFF; padding-top: 2rem; padding-bottom: 2rem "> Afficher sortie </h1>
    <div class="container">
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <div>
                        <h2>Filter les sorties </h2>

                        <div>
                            <div>

                                {{ form_start(RecapSortie) }}
                                <div>
                                    <a>Campus : {{ form_widget(RecapSortie.campus) }}</a> <br/>
                                    <a>Le nom de la sortie contient : {{ form_widget(RecapSortie.search) }}</a> <br/>

                                     <a>Entre :  </a> <input type="datetime-local" id="dateStart"  value= "{{dateStart |date('Y-m-d h:m')}}" name="dateStart">
                                    <a> et  </a> <input type="datetime-local" id="dateFin"  value= "{{dateFin |date('Y-m-d h:m')}}" name="dateFin"> <br/>

                                </div>
                                <div>
                                    <br><a>Sorties dont je suis l'organisateur/trice
                                        : {{ form_widget(RecapSortie.SortieOrganisateur) }}</a>
                                    <br><br>
                                    <a>Sorties auxquelles je suis inscrit/e
                                        : {{ form_widget(RecapSortie.Sortieinscrit) }}</a> <br><br>
                                    <a>Sorties auxquelles je me suis pas inscrit/e
                                        : {{ form_widget(RecapSortie.SortieNonInscrit) }}</a>
                                    <br><br>
                                    <a>Sorties passées : {{ form_widget(RecapSortie.SortiePassees) }}</a> <br><br>
                                </div>
                            </div>
                            {{ form_end(RecapSortie) }}

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around" style="padding-top:1REM ">
                {% for liste in listeSortie %}
                        <div class="card col-3" style="margin: 1rem">
                            <div class="card-header">
                                {% if app.user != null %}
                                <p>Nom de la sortie : <a href="{{ path('app_recap_sortie', {'id_sortie': liste.id}) }}"> <strong>{{ liste.nom }}</strong></a></p>
                                    {% else %}
                                <p>Nom de la sortie : <strong>{{ liste.nom }}</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[0] %}
                                    <p>Etat : <strong>Créée</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[1] %}
                                    <p>Etat : <strong>Ouverte</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[2] %}
                                    <p>Etat : <strong>En cours</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[3] %}
                                <p>Etat : <strong>Passée</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[4] %}
                                <p>Etat : <strong>Annulée</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[5] %}
                                    <p>Etat : <strong>Fermée</strong></p>
                                {% endif %}
                                {% if liste.etatSortie == etat[6] %}
                                    <p>Etat : <strong>Archivée</strong></p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <p>Date de la sortie : {{ liste.dateHeureDebut |date('d/m/Y H:i', timezone="Europe/Paris") }}</p>
                                <p>Clotûre : {{ liste.dateLimiteInscritpion |date('d/m/Y H:i', timezone="Europe/Paris") }}</p>
                                <p>Nombre d'inscrit : {{ liste.participants|length -1 }}</p>
                                <p>Nombre limite d'inscription : {{ liste.nbInscritpionsMax }}</p>
                                {% if app.user in liste.participants %}
                                    {% if app.user.id == liste.organisateur.id %}
                                    <p class="text-info">Vous êtes l'organisateur</p>
                                        {% else %}
                                            <p class="text-succes">Vous êtes inscrit</p>
                                    {% endif %}
                                {% endif %}

                                {% if app.user != null %}
                                    <p class="text-primary">Organisateur : <a class="text-success" href="{{ path('app_showuser_show',{'id' : liste.organisateur.id }) }}">{{ liste.organisateur.nom }}</a></p>
                                {% endif %}


                            </div>
                            <div class="card-body">
                                {% if app.user != null %}
                                <a class="text-danger" href="{{ path('app_sortie_annuler', {'id_sortie': liste.id}) }}">Annuler</a>
                                {% if liste.etatSortie != etat[0] or liste.etatSortie != etat[5] %}
                                    {% if liste.dateLimiteInscritpion > dateJour %}
                                        {% if app.user in liste.participants %}
                                            {% if app.user.id != liste.organisateur.id %}
                                        <a class="text-danger" href="{{ path('app_sortie_desinscrire', {'id_sortie': liste.id}) }}" >Se désinscrire</a>
                                                {%  endif %}
                                        {% elseif app.user not in liste.participants %}
                                        <a href="{{ path('app_sortie_inscrire', {'id_sortie': liste.id}) }}">S'inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}
