{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 style="color: #FFFFFF"> Afficher sortie </h1>
    <div class="container">
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <div>
                        <h2>Filter les sorties </h2>
                        <div>
                            <div>

                                <?php
        $originalDate = "2020-04-29";
        //original date is in format YYYY-mm-dd
        $timestamp = strtotime($originalDate);
        $newDate = date("m-d-Y", $timestamp );
        echo "The new date is $newDate.";
    ?>



                                {{ form_start(RecapSortie) }}
                                <div>
                                    <a>Campus : {{ form_widget(RecapSortie.campus) }}</a> <br/>
                                    <a>Le nom de la sortie contient : {{ form_widget(RecapSortie.search) }}</a> <br/>

                                     <a>Entre :  </a> <input type="datetime-local" id="dateStart"  value= "{{dateStart |date('Y-m-d h:m')}}" name="dateStart">
                                    <a> et  </a> <input type="datetime-local" id="dateFin"  value= "{{dateFin |date('Y-m-d h:m')}}" name="dateFin"> <br/>

                                </div>
                                <div>
                                    <a>Sorties dont je suis l'organisateur/trice
                                        : {{ form_widget(RecapSortie.SortieOrganisateur) }}</a>
                                    <br>
                                    <a>Sorties auxquelles je suis inscrit/e
                                        : {{ form_widget(RecapSortie.Sortieinscrit) }}</a> <br>
                                    <a>Sorties auxquelles je me suis pas inscrit/e
                                        : {{ form_widget(RecapSortie.SortieNonInscrit) }}</a>
                                    <br>
                                    <a>Sorties passées : {{ form_widget(RecapSortie.SortiePassees) }}</a> <br>
                                </div>
                            </div>
                            {{ form_end(RecapSortie) }}
                            <div>
                                <a>Tableau des resultat:</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around" style="padding-top:1REM ">
                {% for liste in listeSortie %}
                        <div class="card col-3" style="margin: 1rem">
                            <p>Sortie : <strong>{{ liste.nom }}</strong></p>
                            <p>Date de Début : {{ liste.dateHeureDebut |date('d/m/Y H:i', timezone="Europe/Paris") }}</p>
                            <p>Date Limite Inscription : {{ liste.dateLimiteInscritpion |date('d/m/Y H:i', timezone="Europe/Paris") }}</p>
                            <p>Nombre d'inscrit : {{ liste.nbInscrit }}</p>
                            <p>Nombre limite d'inscription : {{ liste.nbInscritpionsMax }}</p>
                            <p class="text-success">inscrit</p>
                            <p class="text-primary">Organisateur : {{ liste.organisateur.nom }}</p>
                            <a href="{{ path('app_sortie_annuler', {'id_sortie': liste.id}) }}">Annuler</a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}
