{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1> Afficher une sortie </h1>
    <div class="d-flex justify-content-center">
        <div class="p-3" style="background-color: #dec3c3">
            <a>Nom de la Sortie : {{ userDate.nom }}</a> <br>
            <a>Date et Heure de la sortie
                : {{ userDate.dateHeureDebut |date('d/m/Y H:i', timezone="Europe/Paris") }}</a> <br>
            <a>Date limite d'inscription
                : {{ userDate.dateLimiteInscritpion |date('d/m/Y H:i', timezone="Europe/Paris") }}</a> <br>
            <a>Nombre de places : {{ userDate.nbInscritpionsMax }}</a> <br>
            <a>Durée : {{ userDate.duree }} minutes</a> <br>
            <a>Description et infos : {{ userDate.infosSortie }}</a> <br>
        </div>


        <div class="p-3" style="background-color:  #c1c1c6">
            <a>Campus : {{ userDate.campus }}</a> <br>
            <a>Lieu: {{ userDate.lieu }}</a> <br>
            <a>Rue : {{ userDate.lieu.rue }}</a> <br>
            <a>Code postal : {{ userDate.lieu.ville.codePostal }}</a> <br>
            <a>Latitude : {{ userDate.lieu.latitude }} minutes</a> <br>
            <a>Longitude : {{ userDate.lieu.longitude }}</a> <br>
        </div>
    </div>

    <div>
        <a>Liste des participants inscrits:</a>

        <table>
            <tr>
                <th>Pseodo</th>
                <th>Nom</th>
            </tr>


            boucle a faire par rapport au nombre de place
            <tr>

                <td>affiche le pseudo</td>
                <td>affiche le non et prenom</td>

            </tr>


        </table>


    </div>





{% endblock %}
