{% extends 'base.html.twig' %}

{% block title %}Profil {{ user.username }}{% endblock %}

{% block body %}
    <div class="container"><h1 style="padding-top: 2rem; padding-bottom: 5rem; color: #FFFFFF">{{ user.username }}</h1>
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <h1>Profil</h1>
                    <p>Pseudo : {{ user.username }}</p>
                    <p>Nom : {{ user.nom }}</p>
                    <p>Prenom : {{ user.prenom }}</p>
                    <p>Telephone : {{ user.telephone }}</p>
                    <p>Mail : {{ user.mail }}</p>
                    <p>Photo : {{ user.imageFile }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
